body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#site-container {
    position: relative;
    z-index: 1;
    min-width: 400px;
}

#site-logo {
    float: right;
    width: 210px;
    height: 180px;
    background-image: url("../images/gozly-white-overlay-transparent-bg-small.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.intro-delayed {
    opacity: 0;
    transition: opacity 3s;
}

#home-content-container {
    width: 100%;
    height: 100%;
    padding: 40px 0;
}

footer {
    width: 100%;
    bottom: 4px;
    right: 6px;
    position: fixed;
}

header {
    position: relative;
    height: 100px;
}

#site-title {
    left: 20px;
    top: 30px;
    color: #fff;
    font-family: 'gan_clmbold';
    font-size: 4em;
    position: absolute;
}

#bgimg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg2.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: -webkit-filter 2s, filter 2s;
    z-index: 0;
}

#menu-container {
    float: left;
    bottom: 8px;
    right: 80px;
    position: absolute;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 100%;
}

#site-logo::after {
    content: "";
    width: 150px;
    height: 2px;
    position: fixed;
    right: 0px;
    bottom: 10px;
    background-color: rgb(242, 245, 246);
}

#menu-container ul {
    list-style: none;
    margin: 0 0 6px 0;
}

#menu-container li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-family: 'anka_clmbold';
}

    #menu-container li:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.main-quote {
    font-family: 'anka_clmbold';
    font-size: 2.6em;
    color: #fff;
    max-width: 70%;
    position: relative;
}

    .main-quote:nth-child(1) {
        right: 10%;
    }

    .main-quote:nth-child(2) {
        right: 14%;
        margin-top: 50px;
    }

#mobile-menu:before {
    content: "";
    height: 20px;
    width: 30px;
    background: url("../images/menu.svg") no-repeat center;
    display: block;
    position: absolute;
    left: 0px;
    top: 4px;    
}

#mobile-menu {
    display: none;
    float: left;
    font-size: 2em;
    font-family: 'anka_clmbold';
    bottom: 12px;
    left: 20px;
    position: absolute;    
    cursor: pointer;
    background-color: rgb(242, 245, 246);
    padding-left: 30px;
    border-radius:2px;
}

@media (min-width: 1000px) {
    .main-quote:nth-child(2) {
        margin-top: 80px;
    }
}


@media (min-width: 1200px) {
    .main-quote:nth-child(2) {
        margin-top: 120px;
    }
}


@media (max-width:800px) {

    .main-quote {
        font-size: 2.2em;
    }

    #mobile-menu {
        display: block;
    }

    #menu-container {
        display: none;
    }
}

@media (max-height:800px){

     .main-quote{
         font-size:2.2em;
     }

}

@media (max-height:600px){

     .main-quote{
         font-size:2em;
     }

}

@media (max-width:400px) {
     .main-quote{
         font-size:1.4em;
     }
     #site-title{
         font-size:2em;
     }
}